<% provide(:title, 'Home') %>
<div class="center hero-unit">
<h1>Welcome to Dear Prof</h1>
<p>You can use this website to ask questions anonymously to your professors.</p>
<%= link_to "Get started now!", home_path, class: 'btn btn-large btn-primary'  %>
</div>